table {
  width: 100%;
}

.filter {
  display: block;
}

.header {
  padding: 5px;
  font-size: 1pc;
  font-weight: bold;
}

.navbar-title {
  padding: 0em 3em;
}

.left-bar mat-form-field , .left-bar button{
  width: 100%;
}

.info-text{
  padding: 1em;
  font-size: 1.1em;
}

.left-bar button{
  margin: 2.5em 0em;
}

.filterting-options {
  margin-top: 1em;
}

.left-bar {
  padding: 32px 32px 32px 30px;
  background-color: #FAFAFA;
  height: 90vh;
}

.main-section {
  max-height: 90vh;
  overflow: auto;
  padding: 0px;
  /* padding: 32px 0px 32px 30px; */
}

.custom-content {
  padding: 0px !important;
  margin: 0px !important;
  /* background-color: #FAFAFA; */
}

.container .row, .container-fluid .row {
  width: 100%;
}

.content {
  max-width: 100% !important;
}

.toolbar {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  height: 54px !important;
}